<script type="text/javascript" src="{{STATIC_URL}}js/jquery.formset.js"></script>
<script>
    $(function() {
        $('#id_choice_table div').formset({
            prefix: '{{formset.prefix}}'
        })
    })
</script>

    <div class="spacer"></div>
    <div id="id_questionchoice">
          <h2>Add Constraints</h2>
          <div class="spacer"></div>
            {% for form in formset.forms %}
                {{form.errors}}
                <div id="id_choice_table">
                <div id="{{ form.prefix }}-row">
                {% for field in form %}
                  <label>{{field.label}}</label>{{field}}
                  <div class="spacer"></div>
                  {% endfor %}
                </div>
                <div class="spacer"></div>
                </div>
            {% endfor %}     
            {{formset.management_form}}
    </div>
    <div class="spacer"></div>