{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}

{% block extrahead %}{{ block.super }}
{% url admin:jsi18n as jsi18nurl %}
<script type="text/javascript" src="{{ADMIN_PATH}}jsi18n/"></script>
<script type="text/javascript" src= "{{ MEDIA_URL }}scripts/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src= "{{ MEDIA_URL }}scripts/utils.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/jquery.min.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/jquery.init.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/actions.min.js"></script>
<script>
</script>
{% endblock %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}
{% block breadcrumbs %}
<div class = breadcrumbs>
</div>
{% endblock %}
{% block content %}
<h1>JSON to Mongo</h1>
<div id="content-main">
    <div>
        <fieldset class="module aligned ">
            <h2>Search Details</h2>
        <form  action="{% url filter_results %}" method="post">
            {% csrf_token %}
        <div class="form-row">
        <label class="required">Collection List:</label>                
        <select name="id_collection" id="id_collection" onchange="get_keys(this.value);">
            <option value="">Select Collection</option>
            {% for each_col in collections_name %}
                <option value="{{each_col}}">{{each_col}}</option>
            {% endfor %}
        </select>
        </div>
        <div class="form-row" id="keys_ids">         
        </div>
        <div class="submit-row">
        <input type="submit" class="default" value="Submit JSON Data" />
        </div>
        </form>
    </fieldset>
    </div>
</div>
{% endblock %}