
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.formset.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.7.1.js"></script>
<script>
$(function(){
  $("select#id_models").click(function(){
    $.getJSON("{% url appfilter %}",{id: $(this).val(), ajax: 'true'}, function(j){
      var options = '';
      for (var i = 0; i < j.length; i++) {
        options += '<option value="' + j[i][0]+ '">' + j[i][1] + '</option>';
      }
      $("select#id_filters").html(options);
    })
    $.get('{% url appconstraint %}',{id: $(this).val()},function(data){$('#constraint_div').html(data)}); 
  })
})

</script>
<div id="stylized" class="myform">
{% if not data_list %}
    {{form.errors}}
<form action="" method="post">
    {% csrf_token %}
{% for field in form %}
    <label>{{field.label}}</label>{{field}}
    <div class="spacer"></div>
{% endfor %}
<div id="constraint_div"></div>
    <button type="submit">Submit</button>
    </form>
{% else %}
<div>    
{{model_obj}}
<table>
    <tr>
        <th>Select</th>
        {% for field in display_fields %}
            <th>{{field}}</th>
        {% endfor %}
    </tr>
    {% for id,data in generic_list %}
    <tr>
        <td><a href="{% url edit_record collection_name id %}">Edit</a></td>
        {% for field_data in data %}
            <td>{{field_data}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</div>
{% endif %}
</div>